<ion-header>
  <ion-toolbar>
<ion-row class="headerRow">
  <ion-col size="5"  > 
    <ion-icon routerLink="/home" routerDirection="root" style=" padding-left: 2vh;   padding-top: 3px;" class="fontsize" name="chevron-back-outline"></ion-icon>
  </ion-col>
  <ion-col size="5">Globe</ion-col>
  <ion-col size="2">
    <ion-icon  class="fontsize" style="padding-left: 2vh;" name="ellipsis-horizontal-outline" (click)="weatherupdate()"></ion-icon>
  </ion-col>
</ion-row>
</ion-toolbar>
</ion-header>

<ion-content>


</ion-content>
