.headingtitle{
    padding-left: 26%;
}


.wrapperinput {
    margin: 15px;
    background-color: #f4f5f8;
    padding: 15px;
}
.bg{
background-color: #f4f5f8;
}

.save-button{
    color: white;
    padding-top: 20px;
    height: 70px;
    width: 95%;
    margin: 10px;
    
}