<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="headingtitle">Header</ion-title>
  </ion-toolbar>
</ion-header>





<ion-content>
  <i class="material-icons" >
    wb_sunny
    </i>

    <div  class="locationtext">
      <p>Satellite Town Plost 551 C</p>
    </div>

  <div  style="width:95vw ;padding-top:20px">

  
    <mat-form-field  style="width:95vw " class="paddingselect mat-select-panel-wrap">
      <mat-select placeholder="Temprature " style="border-bottom: none;" >
        <mat-option *ngFor="let temp of temperature" [value]="temp.value">
          {{temp.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field  style="width:95vw " class="paddingselect mat-select-panel-wrap">
      <mat-select placeholder="Outdoor Humidity " >
        <mat-option *ngFor="let hum of humidity" [value]="hum.value">
          {{hum.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field  style="width:95vw" class="paddingselect mat-select-panel-wrap">
      <mat-select placeholder="Outdoor Air Pressure " >
        <mat-option *ngFor="let pre of pressure" [value]="pre.value">
          {{pre.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field  style="width:95vw " class="paddingselect mat-select-panel-wrap">
      <mat-select placeholder="Outdoor Wind Speed " >
        <mat-option *ngFor="let spe of speed" [value]="spe.value">
          {{spe.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    
  </div>
</ion-content>
