.material-icons {
    
    font-size: 71px;
    padding-left: 21vh;
    padding-top: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    color: rgb(255, 230, 0);
    
    -webkit-font-smoothing: antialiased;
}

.locationtext {
    padding-left: 13vh;
}




.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px;
}

.paddingselect {
    padding-left: 4vh;
}

.mat-select-panel-wrap {
    flex-basis: 60%;
}


.headingtitle{
    padding-left: 26%;
}