<ion-header>
  <ion-toolbar>
<ion-row class="headerRow">
  <ion-col size="3"  > 
    <ion-icon routerLink="/messages" routerDirection="root" style=" padding-left: 2vh;   padding-top: 3px;" class="fontsize" name="chevron-back-outline"></ion-icon>
  </ion-col>
  <ion-col size="5">Notification Settings</ion-col>
  
</ion-row>
</ion-toolbar>
</ion-header>

<ion-content>


<ion-list style="padding-bottom: 20px;">
  <ion-item>
    <ion-label>Enable Notification</ion-label>
    <ion-toggle ></ion-toggle>
  </ion-item>
</ion-list>


  <ion-list>
    <ion-item>
      <ion-icon name="home-sharp" class="icon-padding"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>
  
    <ion-item>
      <ion-icon name="volume-high-sharp" class="icon-padding"></ion-icon>
      <ion-label>System</ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>
  
    <ion-item>
      <ion-icon name="time" class="icon-padding" ></ion-icon >
      <ion-label>Events</ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>
