<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="headingtitle">Notification Settings</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>


<ion-list style="padding-bottom: 20px;">
  <ion-item>
    <ion-label>Enable Notification</ion-label>
    <ion-toggle ></ion-toggle>
  </ion-item>
</ion-list>


  <ion-list>
    <ion-item>
      <ion-icon name="home-sharp" class="icon-padding"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>
  
    <ion-item>
      <ion-icon name="volume-high-sharp" class="icon-padding"></ion-icon>
      <ion-label>System</ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>
  
    <ion-item>
      <ion-icon name="time" class="icon-padding" ></ion-icon >
      <ion-label>Events</ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>
