<ion-header>
  <ion-toolbar>
<ion-row class="margin-rop:1vh">
  <ion-col size="3" style="padding-top: 30px;"(click)="locationpage()"> 
    <ion-icon class="iconsize" name="location-outline"></ion-icon>
  </ion-col>
  <ion-col  style="padding-left: 15px;" size="6"><h4>Smart Home</h4></ion-col>
  <ion-col size="3" style=" padding-left: 25px;">
    <ion-icon class="iconsize" style="padding-top: 20px;" name="mic-outline"></ion-icon>
    <i class="material-icons">add_circle_outline </i>
  </ion-col>
</ion-row>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="headerRow">
    <ion-col size="5">
     
      <div class="popover__wrapper1">
        Test Home1
        <ion-icon name="caret-down-outline"></ion-icon>
      <div class="popover__content1">
        <ion-list  lines="none">

          <ion-item>
            Test Home 1
            <ion-icon name="disc-outline" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-icon name="options-outline"></ion-icon>
            <ion-label style="padding-left: 10px;">Home Management</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
        
          </ion-list>
      </div>
    </div>
    </ion-col>
    <ion-col size="5">
     
    </ion-col>
    <ion-col size="2">
      <div class="popover__wrapper">
      
        <i class="iconsize popover__title" style="padding-left: 2vh;" class="material-icons" (click)="openGL_view()" >more_horiz</i> 
      
      <div class="popover__content">
        <ion-list  lines="none">
          <ion-item>
            <ion-icon name="grid-outline"></ion-icon>
            <ion-label style="padding-left: 10px;">Grid View</ion-label>
            
          </ion-item>
        
          <ion-item>
            <ion-icon name="list-outline"></ion-icon>
            <ion-label style="padding-left: 10px;">List View</ion-label>
            
          </ion-item>
          </ion-list>

      </div>
    </div>
    </ion-col>
  </ion-row>


<ion-row>
  <ion-col >

    
  </ion-col>
</ion-row>

</ion-content>
