<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="headingtitle">Rooms</ion-title>
   
</ion-toolbar>
</ion-header>
<ion-content>

  <div class="itempadding itemround ">
    <ion-item color="light" lines="none">
      <ion-label>
        <h3>Rest Room</h3>
      </ion-label>
    </ion-item>
  </div>
  <div class="itempadding itemround ">
    <ion-item color="light" lines="none">
      <ion-label>
        <h3>Living Room</h3>
      </ion-label>
    </ion-item>
  </div>
  <div class="itempadding itemround ">
    <ion-item color="light" lines="none">
      <ion-label>
        <h3>Guest Room</h3>
      </ion-label>
    </ion-item>
  </div>

</ion-content>
