<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="headingtitle">HomeMember</ion-title>
   
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" color="light">
    <ion-avatar slot="end" size="small">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Profile Photo</ion-label>
  </ion-item>

    <ion-item lines="none"  color="light">
      <ion-label>Home</ion-label>
      <ion-text >
        test1
      </ion-text>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <div class="itempadding">

    
    <ion-item lines="none" color="light">
      <ion-label>Profile Photo</ion-label>
      <ion-text slot="end">
       Engima3601@gmail.com
      </ion-text>
    </ion-item>
  
    <ion-item lines="none" color="light">
      <ion-label>Family Role</ion-label>
      <ion-text slot="end">
       Owner
      </ion-text>
    </ion-item>
    </div>

    <p>
      <ion-button  class="save-button" shape="round" color="danger" >REMOVE SHARING</ion-button>
    </p>
    
</ion-content>
