<ion-header>
  <ion-toolbar>
<ion-row class="margin-rop:1vh">
  <ion-col size="3" style="padding-top: 20px;"(click)="locationpage()"> 
    <ion-icon class="iconsize" name="location-outline"></ion-icon>
  </ion-col>
  <ion-col  style="padding-left: 10px;" size="6"><h4>Smart Home</h4></ion-col>
  <ion-col size="3" style=" padding-left: 25px;">
    <ion-icon class="iconsize" style="padding-top: 20px;" name="mic-outline"></ion-icon>
    <i class="material-icons">add_circle_outline </i>
  </ion-col>
</ion-row>
</ion-toolbar>
</ion-header>

<ion-content>

<!-- Item Full Lines -->
<ion-item lines="full">
  <ion-label>Item Lines Full</ion-label>
</ion-item>

<!-- Item None Lines -->
<ion-item lines="none">
  <ion-label>Item Lines None</ion-label>
</ion-item>

</ion-content>
