

<ion-header>
  <ion-toolbar>
    <ion-icon style="margin-left: 10px;" slot="start" class="iconsize" name="location-outline" (click)="locationpage()"></ion-icon>
    <ion-title style="margin-left: 21%">Smart Home</ion-title>
    <ion-icon class="iconsize" slot="end" name="mic-outline"></ion-icon>
    <ion-icon style="margin-right: 10px;" class="iconsize" slot="end" name="add-circle-outline"></ion-icon>
    
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Item Full Lines -->
<ion-item lines="full">
  <ion-label>Item Lines Full</ion-label>
</ion-item>

<!-- Item None Lines -->
<ion-item lines="none">
  <ion-label>Item Lines None</ion-label>
</ion-item>

</ion-content>
