.headerRow{
    padding-top: 2vh;
}

.mat-tab-group {
    margin-bottom: 48px;
  }
  ion-icon{
      font-size: 20px;
  }

  .example-stretched-tabs {
    max-width: 800px;
  }



  .headingtitle{
    padding-left: 26%;
}


::ng-deep .mat-tab-header {
  overflow-x: scroll !important;
}

::ng-deep .mat-tab-label-container { 
  overflow: visible !important;
}