<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="headingtitle">Power</ion-title>
   
</ion-toolbar>
</ion-header>

<ion-content>


  <ion-item lines="none" color="light" class="itempadding">
    <ion-label>
      Cost
    </ion-label>
    <ion-icon name="cash" slot="start"></ion-icon>
  </ion-item>
  <ion-item lines="none" color="light" class="itempadding">
    <ion-label>
      Appliances
    </ion-label>
    <ion-icon name="cash" slot="start"></ion-icon>
  </ion-item>

  <ion-item lines="none" color="light" class="itempadding">
    <ion-label>
      Appliances
    </ion-label>
    <ion-icon name="cash" slot="start"></ion-icon>
  </ion-item>
  <ion-item lines="none" color="light" class="itempadding">
    <ion-label>
      Usage by Rooms
    </ion-label>
    <ion-icon name="cash" slot="start"></ion-icon>
  </ion-item>
</ion-content>
